<ion-header>
  <ion-toolbar>
    <ion-title>JaveSalud Admin</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-list no-lines>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Nutrición básica</ion-card-title>
        <ion-card-subtitle>Mejora tus hábitos almenticios</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
         En esta sección encontrarás los mejores tips para una alimentación saludable
      </ion-card-content>
      <img src="https://firebasestorage.googleapis.com/v0/b/javesaludprueba.appspot.com/o/batidoverde.jpg?alt=media&token=e58b5d35-cec9-47c7-918f-f555eee70d51"/>
    </ion-card>
 </ion-list>
</ion-content>


  <ion-menu contentId="content1" side="start">
    <ion-header>
      <ion-toolbar>
        <ion-title>Menú Admin</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item (click)="nutricionClick()">Nutrición</ion-item>
        <ion-item>Deporte</ion-item>
        <ion-item>¿Qué es JaveSalud?</ion-item>
        <ion-button color="dark" (click)="salir()">Salir</ion-button>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="content1" main></ion-router-outlet>
  <ion-router-outlet main></ion-router-outlet>



