<ion-header>
  <ion-toolbar>
    <ion-title>Nutrición</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <h1>Bienvenido a nutrición</h1>

  <ion-button color="light" (click)="agregarDieta()">Crear nueva dieta</ion-button>
  <ion-button color="dark" (click)="agregarPlato()">Crear nuevo plato</ion-button>
   
  <ion-list>  
     <ion-item *ngFor="let item of items | async ">
      <ion-card  (swipe)="swipeAll($event)" (click)="elementoSeleccionado(item,item.key)">
        <ion-card-header>
          <ion-card-title>Nombre de la dieta: {{item.nombre}}</ion-card-title>
          <ion-card-subtitle>Descripción de la dieta: {{item.objetivo}}</ion-card-subtitle>

        </ion-card-header>
      <ion-card-content>
      </ion-card-content>
        <img src={{item.imagen}}/>
      </ion-card>
     </ion-item>
   </ion-list>



  <ion-button color="light" (click)="atras()">Atrás</ion-button>
</ion-content>
