<ion-header>
  <ion-toolbar>
    <ion-title>JaveSalud</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
 

  <ion-list no-lines>

       
      <div *ngIf="usuario$ | async; let items; else loading">
          <ul>
            <li *ngFor="let item of items">
                Bienvenido {{ item.payload.val().nombres }}
              
            </li>
          </ul>
          <div *ngIf="items.length === 0">No results, try clearing filters</div>
      </div>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Nutrición básica</ion-card-title>
        <ion-card-subtitle>Mejora tus hábitos almenticios</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
         En esta sección encontrarás los mejores tips para una alimentación saludable
      </ion-card-content>
      <img src="https://firebasestorage.googleapis.com/v0/b/javesaludprueba.appspot.com/o/batidoverde.jpg?alt=media&token=e58b5d35-cec9-47c7-918f-f555eee70d51"/>
    </ion-card>
 </ion-list>
</ion-content>

<ion-menu contentId="content2" side="start">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Menú principal</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item (click)="nutricionUserClick()">Nutrición</ion-item>
      <ion-item>Deporte</ion-item>
      <ion-item>¿Qué es JaveSalud?</ion-item>
      <ion-item (click)="micuentaClick()">Mi cuenta</ion-item>
      <ion-button color="dark" (click)="salir()">Salir</ion-button>
    </ion-list>
  </ion-content>
</ion-menu>
<ion-router-outlet id="content2" main></ion-router-outlet>


