<ion-header>
  <ion-toolbar>
    <ion-title>Editar dieta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-list>
    <ion-item>
      <ion-label position="floating">
         <ion-icon name="arrow-round-forward"></ion-icon>
          Nombre de la dieta
      </ion-label>
      <ion-input id="inputnombre" type="text" [(ngModel)]="dieta.nombre"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">
        <ion-icon name="clipboard"></ion-icon>
        Objetivo
      </ion-label>
    <ion-input id="inputobjetivo"  type="text" [(ngModel)]="dieta.objetivo" ></ion-input>
  </ion-item>

  <ion-item>
      <ion-label position="floating">
        <ion-icon name="folder-open"></ion-icon>
        Link imagen
      </ion-label>
    <ion-input id="inputimagen"  type="text" [(ngModel)]="dieta.imagen" ></ion-input>
  </ion-item>
</ion-list>
  
<ion-list> 
  <h1>
    Platos
  </h1> 
  <ion-item *ngFor="let item of itemsPlato | async">
     <ion-card (click)="elementoSeleccionado(item,item.key)">
     <ion-card-header>
       <ion-card-title>Nombre del plato: {{item.nombre}}</ion-card-title>
       <ion-card-subtitle>Descripción del plato: {{item.descripcion}}</ion-card-subtitle>
     </ion-card-header>
     <ion-card-content>
     </ion-card-content>
     <img src={{item.imagen}}/>
   </ion-card>
  
  </ion-item>
</ion-list>  



    <ion-button color="light" (click)="actualizardieta(dieta)">Actualizar dieta</ion-button>
    <ion-button color="dark" (click)="volver()">Volver</ion-button>
</ion-content>
